img{
  height: 24px;
  width: auto;
}

nav{
  position: fixed;
  display: flex;
  width: 100%;
  outline: 5px solid chocolate;
  padding: 0;
  margin: 0;
  height: 7dvh;
  background-color: rgba(19, 19, 18, 0.685);
  }

  nav ul{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
    justify-content: center;
    width: 100%;
    height: 7dvh;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li a{
  text-decoration: none;
  color: antiquewhite;
  font-size: larger;
  &:hover{
    color: chocolate;
  }
}

.space{
  height: 7dvh;
}
